*{
    margin: 0;
    padding: 0;
}

body{
    background: url(./Image/giphy.gif);
    background-position: center;
}

h1{
    letter-spacing: 1px;
    margin: 291px 0px 0px 517px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}



@media  only screen and  (max-width: 768px),  only screen and (max-device-width: 768px){
    body {
        background: url(./Image/giphy.gif);
        background-position: left center;
        background-size: cover;
    }
    h1{
        letter-spacing: 1px;
        margin: 302px 0px 0px 34px;
        position: absolute;
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        color: white;
        font-family: 'Ubuntu Mono', monospace;
    }

}